# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
env:
  sbtVersion: 1.3.13

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-2016

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      
    - name: SqlPowerShellTools inline
      run: |
        $env:GITHUB_WORKSPACE
        Test-Path Validate-SQLPowerShellTools.ps1 -PathType Leaf
        Invoke-Pester "${env:GITHUB_WORKSPACE}\Validate-SQLPowerShellTools.ps1"
        
        
