# This is a basic workflow to help you get started with Actions

name: Test lint on pull request

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches: [ master ]
    
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    
    - name: make changes
      run: |
        set -x
        touch newfile.txt
        echo "aa" > newfile.txt

#    - name: enable fast-forward commits only for lint
#      run: |
#        git config pull.ff only
#
#    - name: commit and push changes
#      uses: EndBug/add-and-commit@v5
#      with:
#        author_name: Your Name
#        author_email: mail@example.com
#        message: "Your commit message"
#        add: "*.txt"
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: qt
      run: |
        qmake
